.header {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid var(--sale-color);
  background-color: var(--sale-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 4;
  overflow-wrap: initial;
  z-index: 999;
}
@media (max-width:1010px) {
  .header{
    height: 100px;
  }
}
