body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: Madera;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.shopifycdn.com/madera/madera_n4.e17965bbd83a45504d48bdac7a451fea80e72cde.woff2?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=01cbeed8c2ba03991a4e7541120266bad1afbacf6c06de46623cc94422fbcf10')
      format('woff2'),
    url('https://fonts.shopifycdn.com/madera/madera_n4.39aeffde60c53239a999d346ef82a0a53474c07b.woff?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=41bf76c402af919842f8695603e87ec0cbf4d1e4f45b35859f641eede3fb676b')
      format('woff');
}
@font-face {
  font-family: Madera;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.shopifycdn.com/madera/madera_n6.3885479355e411cd84cb17cdf54dc9737be27270.woff2?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=90d641bf4f46a6e5d3771912ad2fedd123ae993ca3b2ee3ed1a2b399eea2e986')
      format('woff2'),
    url('https://fonts.shopifycdn.com/madera/madera_n6.5d47dd25802b036877dab6d9ac803b8b8228fa42.woff?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=df253f5beee70b94ea063d9bec6ccfbb3a77ff352d87e5f14483c56c449ed9af')
      format('woff');
}
@font-face {
  font-family: Madera;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.shopifycdn.com/madera/madera_n7.459763769e65d40c87eb9d954e9d178bd002c688.woff2?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=e0220d14baa0784dac597dd2ab1b92b7ced897c450987237fe054cf1ad27252f')
      format('woff2'),
    url('https://fonts.shopifycdn.com/madera/madera_n7.bf8b39df1d6f71f20f12f31afd40e4fee8201409.woff?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=5114f9351922e022805ce13cf465cb65eefc4b536d9ffc701d878ee18dc7ca35')
      format('woff');
}
@font-face {
  font-family: Madera;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('https://fonts.shopifycdn.com/madera/madera_i4.c1f74ab3666b8885cd8129cd3b168c3fdd3f3ae7.woff2?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=900d2770bb4ed8a10200783f175bb35e5b71013fd05365a114a1f7e1ae534c57')
      format('woff2'),
    url('https://fonts.shopifycdn.com/madera/madera_i4.2209746153621d1efd460393e525ddb7f1e6a774.woff?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=513509ef08699216562b2af451d47594ae2d429cc4fee672f2dfdd65811cdce3')
      format('woff');
}
@font-face {
  font-family: Madera;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('https://fonts.shopifycdn.com/madera/madera_i7.dd4e70368d69ec5229156e7306bc2ed94cc1da80.woff2?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=ce2d8d1c939ceb77379ae0317325c2d7e18446239632f0d05ebfe81988cfe21e')
      format('woff2'),
    url('https://fonts.shopifycdn.com/madera/madera_i7.586b8be4eef502c6dd734ac76f533f484d7bf38d.woff?h1=bGFjaGVycGF0aXNzZXJpZS5jb20&hmac=7a5f2eb72851567c8274a38b8291e2da843f7a2567014d0af70e0a6b08b05a4b')
      format('woff');
}

:root {
  --transition-default: 1s cubic-bezier(0.19, 1, 0.22, 1);
  --page-background: #ffffff;
  --color-primary: #242424;
  --disabled-color-primary: rgba(36, 36, 36, 0.5);
  --color-primary-opacity: rgba(36, 36, 36, 0.03);
  --link-color: #88694e;
  --active-link-color: #242424;
  --button-background-color: #88694e;
  --button-background-hover-color: #88694e;
  --button-background-hover-color-lighten: #987657;
  --button-text-color: #ffffff;
  --sale-color: #fff7b2;
  --sale-text-color: #000000;
  --sale-color-faint: rgba(255, 247, 178, 0.1);
  --sold-out-color: #b22222;
  --sold-out-text-color: #ffffff;
  --header-background: #ffffff;
  --header-text: #242424;
  --header-border-color: rgba(36, 36, 36, 0.1);
  --header-hover-background-color: rgba(36, 36, 36, 0.1);
  --header-overlay-text: #ffffff;
  --sticky-header-background: rgba(0, 0, 0, 0);
  --sticky-header-text: #000000;
  --sticky-header-border: rgba(0, 0, 0, 0.1);
  --mobile-menu-text: #000000;
  --mobile-menu-background: #fff7b2;
  --mobile-menu-border-color: rgba(0, 0, 0, 0.5);
  --footer-background: #fff7b2;
  --footer-text: #88694e;
  --footer-hover-background-color: rgba(136, 105, 78, 0.1);
  --pop-up-text: #242424;
  --pop-up-background: #fff;
  --secondary-color: rgba(0, 0, 0, 1) default!;
  --select-padding: 5px;
  --select-radius: 2px default!;
  --border-color: rgba(36, 36, 36, 0.5);
  --border-search: rgba(36, 36, 36, 0.1);
  --border-color-subtle: rgba(36, 36, 36, 0.1);
  --border-color-subtle-darken: #171717;
  --color-scheme-light-background: #f3f3f3;
  --color-scheme-light-background-hover: rgba(243, 243, 243, 0.1);
  --color-scheme-light-text: #414141;
  --color-scheme-light-text-hover: rgba(65, 65, 65, 0.7);
  --color-scheme-light-input-hover: rgba(65, 65, 65, 0.1);
  --color-scheme-accent-background: #fff7b2;
  --color-scheme-accent-background-hover: rgba(255, 247, 178, 0.1);
  --color-scheme-accent-text: #ffffff;
  --color-scheme-accent-text-hover: rgba(255, 255, 255, 0.7);
  --color-scheme-accent-input-hover: rgba(255, 255, 255, 0.1);
  --color-scheme-dark-background: #88694e;
  --color-scheme-dark-background-hover: rgba(136, 105, 78, 0.1);
  --color-scheme-dark-text: #ffffff;
  --color-scheme-dark-text-hover: rgba(255, 255, 255, 0.7);
  --color-scheme-dark-input-hover: rgba(255, 255, 255, 0.1);
  --header-font-stack: Garamond, Baskerville, Caslon, serif;
  --header-font-weight: 400;
  --header-font-style: italic;
  --header-font-transform: none;
  --header-letter-spacing: normal;
  --body-font-stack: Madera, sans-serif;
  --body-font-weight: 400;
  --body-font-style: normal;
  --body-font-size-int: 15;
  --body-font-size: 15px;
  --subheading-font-stack: Madera, sans-serif;
  --subheading-font-weight: 600;
  --subheading-font-style: normal;
  --subheading-font-transform: none;
  --subheading-case: none;
  --heading-base: 34;
  --subheading-base: 14;
  --subheading-2-font-size: 16px;
  --subheading-2-line-height: 20px;
  --product-titles: 24;
  --subpage-header: 24;
  --subpage-header-px: 24px;
  --subpage-header-line-height: 34px;
  --heading-font-size: 34px;
  --heading-line-height: 44px;
  --subheading-font-size: 14px;
  --subheading-line-height: 18px;
  --color-image-overlay: #ffffff;
  --color-image-overlay-text: #fff;
  --image-overlay-opacity: calc(10 / 100);
  --flexslider-icon-eot: //cdn.shopify.com/s/files/1/0040/2305/8561/t/13/assets/flexslider-icon.eot?v=70838442330258149421651508706;;
  --flexslider-icon-eot-ie: //cdn.shopify.com/s/files/1/0040/2305/8561/t/13/assets/flexslider-icon.eot%23iefix?8128;;
  --flexslider-icon-woff: //cdn.shopify.com/s/files/1/0040/2305/8561/t/13/assets/flexslider-icon.eot?v=70838442330258149421651508706;;
  --flexslider-icon-ttf: //cdn.shopify.com/s/files/1/0040/2305/8561/t/13/assets/flexslider-icon.eot?v=70838442330258149421651508706;;
  --flexslider-icon-svg: //cdn.shopify.com/s/files/1/0040/2305/8561/t/13/assets/flexslider-icon.eot?v=70838442330258149421651508706;;
  --delete-button-png: //cdn.shopify.com/s/files/1/0040/2305/8561/t/13/assets/delete.png?8128;;
  --loader-svg: //cdn.shopify.com/s/files/1/0040/2305/8561/t/13/assets/loader.svg?v=119822953187440061741651508709;;
  --mobile-menu-link-transform: none;
  --mobile-menu-link-letter-spacing: 0;
  --buttons-transform: none;
  --buttons-letter-spacing: 0;
  --button-font-family: var(--body-font-stack);
  --button-font-weight: var(--body-font-weight);
  --button-font-style: var(--body-font-style);
  --button-font-size: var(--body-font-size);
  --button-font-size-int: var(--body-font-size-int);
  --subheading-letter-spacing: normal;
  --nav-font-family: var(--body-font-stack);
  --nav-font-weight: var(--body-font-weight);
  --nav-font-style: var(--body-font-style);
  --nav-text-transform: none;
  --nav-letter-spacing: 0;
  --nav-font-size-int: var(--body-font-size-int);
  --password-text-color: #000000;
  --password-error-background: #feebeb;
  --password-error-text: #7e1412;
  --password-login-background: #111111;
  --password-login-text: #b8b8b8;
  --password-btn-text: #ffffff;
  --password-btn-background: #000000;
  --password-btn-background-success: #4caf50;
  --success-color: #28a745;
  --error-color: #b94a48;
}
